body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 300px;
    justify-content: space-around;
    margin-bottom: 20px;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 400px;
    align-items: center;
}

.container {
    width: 500px;
    height: 500px;
    display: grid;
    border: 2px solid black;
    margin-bottom: 20px;
}